[defaults]
inventory = inventories/dev-sit/hosts
roles_path = ./roles
remote_user = {{ lookup('env', 'USER') }}
host_key_checking = False
deprecation_warnings = False
retry_files_enabled = False
forks = 20
timeout = 30
log_path = /var/log/ansible.log
callback_whitelist = profile_tasks, timer
ansible_python_interpreter = /usr/bin/python

[privilege_escalation]


[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
pipelining = True

[accelerate]
accelerate_multi_key = yes
